ol.list-group.d-flex(id='order-list-container') 
    each val, index in data
        li.mt-2(id='list-items')
            .card(style='width: 18rem;')
                if title === 'Characters'
                    a(data-bs-toggle='modal' data-bs-target='#exampleModal'+index)
                        img.card-img-top(src=val[1] alt='Star Wars Characters' id="SW-images")
                    .card-body.text-center
                        p.card-text
                        | #{val[0]}
                else 
                    a(data-bs-toggle='modal' data-bs-target='#exampleModal'+index)
                        .card-body.text-center
                            p.card-text
                            | #{val}.
        include modal.pug