ol.list-group.list-group-horizontal-md(id='order-list-container') 
    each val, index in data
        li(id='list-items')
            .card.border-warning.bg-secondary(id='card' style='width: 18rem;')
                if title === 'Characters'
                    a(data-bs-toggle='modal' data-bs-target='#exampleModal'+index)
                        img.card-img-top(src=val[1] alt='Star Wars Characters')
                    .card-body.text-center
                        p.card-text
                        | #{val[0]}
                else 
                    a(data-bs-toggle='modal' data-bs-target='#exampleModal'+index)
                        .card-body.text-center
                            p.card-text
                            | #{val}
        include modal.pug