.modal.fade(id=('memeModal'+index) tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title #{val[1]}
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        img.img-center.meme-maker-img(src=val[2] alt='Star Wars Characters')
        form(url="https://api.imgflip.com/caption_image" role='POST')
          .form-group.mb-3
            <label for="text0" class="col-form-label">Top Text:</label>
            <input type="text" class="form-control" id="text0">
          .form-group.mb-3
            <label for="text1" class="col-form-label">Bottom Text:</label>
            <input type="text" class="form-control" id="text1">
          .form-group.modal-footer
            button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
            button.btn.btn-primary(type='submit' id='create-btn') Create
      
//- https://stackoverflow.com/questions/59230116/how-to-get-modal-dialog-to-send-correct-object-in-pug-iteration