//- // https://getbootstrap.com/docs/5.0/components/navbar/
//- Free Star Wars icons https://icons8.com/icons/set/star-wars
nav.navbar.navbar-expand-lg.navbar-dark.bg-secondary.fixed-top
  .container-fluid
    a.navbar-brand.text-white(href='/') 
      img(src="https://img.icons8.com/color/75/000000/star-wars.png" alt="Star Wars Icon")
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link.text-white.mx-lg-5(aria-current='page' href='/people') Characters
        li.nav-item
          a.nav-link.text-white.mx-lg-5(href='/movies') Movies
        li.nav-item
          a.nav-link.text-white.mx-lg-5(href='/species') Species
        li.nav-item
          a.nav-link.text-white.mx-lg-5(href='/vehicles') Vehicles
        li.nav-item
          a.nav-link.text-white.mx-lg-5(href='/starships') Starships
        li.nav-item
          a.nav-link.text-white.mx-lg-5(href='/planets') Planets
        li.nav-item
          a.nav-link.text-white.mx-lg-5(href='/meme' tabindex='-1' aria-disabled='true') Meme

