// https://getbootstrap.com/docs/5.0/components/navbar/
nav.navbar.navbar-expand-lg.navbar-light.bg-dark
  .container-fluid
    a.navbar-brand.text-white(href='/') Star Wars
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link.text-white.mx-lg-5(aria-current='page' href='/people') Characters
        li.nav-item
          a.nav-link.text-white.mx-lg-5(href='/movies') Movies
        li.nav-item
          a.nav-link.text-white.mx-lg-5(href='/species') Species
        li.nav-item
          a.nav-link.text-white.mx-lg-5(href='/vehicles') Vehicles
        li.nav-item
          a.nav-link.text-white.mx-lg-5(href='/starships') Starships
        li.nav-item
          // Take note about 'tabindex="-1" later
          a.nav-link.text-white.mx-lg-4(href='/meme' tabindex='-1' aria-disabled='true') Meme
      //- form.d-flex.ms-auto
      //-   input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
      //-   button.btn.btn-outline-success(type='submit') Search
