include includes/head.pug
body.bg-image(style="background-image: url('/images/pexelsbackgroundv3.jpg'); background-size: 100%;")
  block content
    h1= message
    h2= error.status
    pre #{error.stack}
