extends layout

block content
  h1 Star Wars API

  if error
    p Error generating your random Star Wars meme.
  else
    p Here is your randomly generated Star Wars meme - enjoy :)

    div "Randomly generated Star Wars meme will go here"
