include includes/head.pug
//- https://stackoverflow.com/questions/42529379/css-background-image-is-rendered-blurred-and-not-entirely/42529554
body.bg-image(style="background-image: url('/images/pixabaybackgroundv4.png'); background-size: 100%;")
  include includes/navbar.pug
  h1.text-center.text-uppercase.mt-5.mb-5(id='main-header') #{title}
  <input type="text" id="searchFilter" onkeyup="myFunction()" placeholder="Search for names..">

  include includes/list-groups.pug
  script(src='searchFilter.js')
