include includes/head.pug
//- https://stackoverflow.com/questions/42529379/css-background-image-is-rendered-blurred-and-not-entirely/42529554
body.bg-image(style="background-image: url('/images/pexelsbackgroundv3.jpg'); background-size: 100%;")
  include includes/navbar.pug
  block content
    h1 Star Wars API

    div There are no #{title}.
    div #{data}
  include includes/list-groups.pug
  include includes/modal.pug
    div #{extra}
